.login-page {
    background-image: url('/storage/sistem/img/background-img.jpg') !important;
    background-size:cover;
    background-repeat:no-repeat;
}

.sidebar-navy{
    background-color: #001f3f;
}

.btn-primary, .btn-danger, .btn-warning, .btn-info, .btn-dark{
    color: #fff !important;
}
